<h1><%= @category.name %> <small><%= link_to "Edit", edit_category_path(@category), class: '' %></small></h1>

  <% if @subcategories %>
  <ul>
    <% @subcategories.each do |subcategory| %>
      <li><%= link_to subcategory.name, subcategory %></li>
    <% end %>
  </ul>
  <% end %>

  <% if @events %>
    <% @events.each do |event| %>
      <h4><%= link_to event.title, [@category, event] %></h4>
    <% end %>
  <% end %>